.main {
  margin-left: 160px;
  padding: 0px 10px;
}

#content {
  list-style: none;
  font-size: 18px;
  font-family: 'Lucida Handwriting';
}

#content li {
  display: inline;
  margin: 0 auto;
}

#content li a:link {
  display: inline-block;
  width: 110px;
  height: 85px;
  line-height: 30px;
  text-align: justify;
  text-decoration: none;
  background-color: #DDC7A0;
  color: black;
  padding: 30px;
  margin: 20px;
  cursor: crosshair;
}

#content li a:visited {
  color: #1E3F66;
}

#content li a:hover {
  color: blue;
}

.debut {
  background-image: url('https://image.shutterstock.com/image-photo/clean-grand-combat-arena-bright-260nw-534459844.jpg')
}

#menu {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    transition: .10s background;
}

main {
    display: block;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(102,51,0);
  text-align: center;
  font-family: monospace, "Lucida Console";
  font-size: 4em;
  font-weight: bold;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 85%;
}

.types {
  background-color: green;
}

.types2 {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.font {
  font-family: "papyrus";
}

.exemples {

  font-family: "Papyrus";
  list-style-type: circle;
  font-weight: bolder;
}

h2 {
  text-align: center;
  text-decoration: underline overline;
  font-size: 40px;
  font-family: monospace, "Lucida Console";
  color: #8B0000;
  width: 85%;
}

p {
  font-family: georgia;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
}

.audio {
  color: green;
  text-decoration: overline;
}

img {
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
